.navbar {
  border-radius: 0;
  margin-bottom: 20px;

  .navbar-brand {
    font-weight: bolder;

    .light {
      font-weight: 300;
    }
  }

  .collapse-bg {
    padding: 0 !important;

    .card {
      border-radius: 0;
      border: 0;
      margin-bottom: 0;
  }
}

  .collapse-bg .card .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: black;

    a {
      background-color: #1a1a1a;
      color: #bdc3c7;
      height: 100%;
      padding: 10px;
      width: 100%;

      &:active {
        border-bottom: 0;
        color: #ffffff;
      }
  }
}
}
